<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
</head>
<body>
    <div class="m-10 bg-gray-200 p-10">
        <form id="form">
            <input type="text" placeholder="Escribe tu mensaje" id="message">
            <input type="submit" value="Enviar">
        </form>

        <div id="view-messages">

        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/chat.js"></script>
</body>
</html>