<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{{title}}</title>
</head>
<body>
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script> {{!-- si se pone el script desp del main no funciona --}}
    <script type="module" src="/main.js"></script>
</body>
</html>
